<p class="text-uppercase" id="game-title">Blackjack</p>
<p class="text-uppercase" id="game-payout">Pays 3 To 2</p>
<p id="game-rules">Dealer must draw to 16 and stand on all 17's</p>
<div class="insurance">
    <p class="text-uppercase" id="insurance-text">Pays 2 To 1&nbsp;&nbsp;Insurance&nbsp;&nbsp;Pays 2 To 1</p>
</div>