<div class="row">
    <div class="col-md-4">
        <p class="text-justify player-detail">Name: Player 1</p>
        <p class="text-justify player-detail">Balance: $500</p>
    </div>
    <div class="col-md-8">
        <div class="player-buttons">
            <button class="btn btn-default" type="button" value="Hit">Hit</button>
            <button class="btn btn-default" type="button" value="Stay">Stay</button>
            <button class="btn btn-default" type="button" value="DoubleDown">Double Down</button>
            <button class="btn btn-default" type="button" value="Split">Split</button>
            <button class="btn btn-default" type="button" value="Bet">Bet</button>
        </div>
        <br />
        <div class="row">
            <div class="bet-slider">
                <input class="slider" type="range" value="5" min="1" max="20" />
                <span class="slider-value">5</span>
            </div>
        </div>
    </div>
</div>