<div class="chip-tray">
    <div class="chip-holder">
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
        <div class="tray-chip black"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
        <div class="tray-chip green"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
        <div class="tray-chip blue"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
        <div class="tray-chip red"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
    </div>
    <div class="chip-holder">
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
        <div class="tray-chip white"></div>
    </div>
</div>