<div class="dealer-shoe">
    <div class="shoe-front"></div>
    <div class="shoe-top">
        <div class="top-front"></div>
        <div class="top-back">
            <p class="text-uppercase" id="shoe-text">
                Casino<br />Royale
            </p>
        </div>
    </div>
</div>